#result-list li {
    height: 64px;
    padding: 1px;
    float: left;
    width: 355px;
}
.result-face {
    width: 60px;
    height: 60px;
    float: left;
}
.result-name {
    margin-left: 64px;
    font-size: 30px;
}
#table-detail {
    font-size: 20px;
    margin: 5px auto;
}
#table-detail, th, td {
    border: 1px solid;
}
.detail-face {
    width: 192px;
    height: 192px;
    margin: auto auto;
}
#btn-query {
    margin: 25px auto 0px;
}
.preset-set-query {
}
.preset-delete {
  position: absolute;
  right: 5px;
}